body
{
  margin: 0 auto;
}
main
{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0719A7;
  font-family: sans-serif;
  background-image: url("../IMG/fondoConfiguracion.jpg");
  background-repeat: no-repeat;
}
img
{
  height: 50vh;
  width: 20vw;
}
.logo {
	text-align: center;
	padding: 10px;
	width: 200px;
  margin-bottom: 25px;
  position: absolute;
  top: 10px;
  left: 700px;

}
a > img{
  text-align: center;
  position: absolute;
  height: 200px;
  width: 200px;
  top: -10px;
  left: 0px;
  border-radius: 25px 25px 25px 25px;
}
.foto{
  height: 100vh;
	width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
  animation-name: transicion;
	animation-duration: 40s;
  	animation-iteration-count: infinite;
}
@keyframes transicion
{
  0% {background-image: url("../IMG/currapali.jpg");}
  25% {background-image: url("../IMG/howard.jpg");}
  50% {background-image: url("../IMG/cooper.jpg");}
  75% {background-image: url("../IMG/leonard.gif");}
}
